@page
@model Domus.Pages.Administrador.Administrar_ChaletModel
@using Microsoft.Data.SqlClient;
@using System.Data

@{

    Layout = "_Layout_Domus";

}



<div class="row">

    <div class="col-xl-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Administrar Chalets</h4>

                @* <div class="d-flex align-items-center justify-content-between flex-wrap">
                    <a href="Formulario_Colegio?idColegio=0" class="btn btn-primary btn-sm">
                        +Agregar
                    </a>
                </div> *@

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example3" class="display" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Chalet</th>
                                <th>Estado</th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (DataRow FilaChalet in Model.datatable_chalet.Rows)

                            {

                                <tr>

                                    <td><img class="rounded-circle" width="35" src="~/Style_Domus/images/imgCHALETS/@FilaChalet["imagen_Chalet"].ToString()" alt=""></td>
                                    <td>@FilaChalet["nombre_chalet"].ToString()</td>
                                    <td>@FilaChalet["Estado"].ToString()</td>

                                    <td>
                                        <div class="d-flex">
                                            <a asp-page="Administrar_Chalet" asp-route-id_Chalet="@FilaChalet["id_chalet"].ToString()" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
                                        </div>
                                    </td>
                                </tr>


                            }

                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



	<div class="col-xl-4">

		<div class="card">
			<div class="card-header">
				<h4 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Administrar Chalet</font></font></h4>
			</div>
			<div class="card-body">
				<div class="basic-form">
					<form method="post">
						<div class="row">

							@* <input type="text" class="form-control" placeholder="" hidden asp-for="input_idSubcategoria" /> <!-- envia la imofromacion que esta dentro del formulario--> *@

							

							<div class="mb-3 col-md-12">
								<label class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></label>
								<input type="text" class="form-control" placeholder=" Nombre Chalet" asp-for="input_Nombre_Chalet">
							</div>

							<div class="mb-3 col-md-12">
								<select class="default-select wide form-control ms-0" id="validationCustom05" asp-for="inpu_Estado_Chalet">
									<option value="Activo">Activo</option>
									<option value="Inactivo">Inactivo</option>
								</select>
							</div>
						</div>


                        <input type="submit" class="btn btn-primary" value="Guardar Chalet" asp-route-id_Chalet="@Model.id_Chalet" asp-page-handler="Guardar_Chalet">

						
						

					</form>
				</div>
			</div>
		</div>

	</div>


</div>
