@page
@model Domus.Pages.OrdenesModel
@{
}


@{

	Layout = "_Layout_Domus";

}




<div class="row">
	<div class="col-xl-4">
		<div class="card">
			<div class="card-body">
				<nav class="order-tab">
					<div class=" nav nav-tabs" id="nav-tab" role="tablist">
						<button class="nav-link active" id="nav-order-tab" data-bs-toggle="tab" data-bs-target="#nav-order" type="button" role="tab" aria-controls="nav-order" aria-selected="true">Ordenes </button>
						<button class="nav-link" id="nav-prepared-tab" data-bs-toggle="tab" data-bs-target="#nav-prepared" type="button" role="tab" aria-controls="nav-prepared" aria-selected="false">Preparadas</button>
						
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-order" role="tabpanel" aria-labelledby="nav-order-tab">
						<div class="orderin-bx d-flex align-items-center justify-content-between">
							<div>
								<h4>Orden #1</h4>
								<span>Abril 1, 2020, 08:22 AM</span>
							</div>
							<div class="d-flex align-items-center">
								<h4 class="text-primary mb-0">$202.00</h4>
								<a href="javascript:void(0);" class="icon-bx"><i class="fa-solid fa-angle-right"></i></a>

							</div>
						</div>
						<div class="orderin-bx d-flex align-items-center justify-content-between">
							<div>
								<h4>orden #2</h4>
								<span>Abril 1, 2020, 08:22 AM</span>
							</div>
							<div class="d-flex align-items-center">
								<h4 class="text-primary mb-0">$202.00</h4>
								<a href="javascript:void(0);" class="icon-bx"><i class="fa-solid fa-angle-right"></i></a>

							</div>
						</div>
						<div class="orderin-bx d-flex align-items-center justify-content-between">
							<div>
								<h4>orden #3</h4>
								<span>June 1, 2020, 08:22 AM</span>
							</div>
							<div class="d-flex align-items-center">
								<h4 class="text-primary mb-0">$202.00</h4>
								<a href="javascript:void(0);" class="icon-bx"><i class="fa-solid fa-angle-right"></i></a>

							</div>
						</div>
						<div class="orderin-bx d-flex align-items-center justify-content-between">
							<div>
								<h4>Order #4</h4>
								<span>June 1, 2020, 08:22 AM</span>
							</div>
							<div class="d-flex align-items-center">
								<h4 class="text-primary mb-0">$202.00</h4>
								<a href="javascript:void(0);" class="icon-bx"><i class="fa-solid fa-angle-right"></i></a>

							</div>
						</div>
						<div class="orderin-bx d-flex align-items-center justify-content-between">
							<div>
								<h4>orden #5</h4>
								<span>June 1, 2020, 08:22 AM</span>
							</div>
							<div class="d-flex align-items-center">
								<h4 class="text-primary mb-0">$202.00</h4>
								<a href="javascript:void(0);" class="icon-bx"><i class="fa-solid fa-angle-right"></i></a>

							</div>
						</div>
						<div class="orderin-bx d-flex align-items-center justify-content-between">
							<div>
								<h4>orden #1</h4>
								<span>June 1, 2020, 08:22 AM</span>
							</div>
							<div class="d-flex align-items-center">
								<h4 class="text-primary mb-0">$202.00</h4>
								<a href="javascript:void(0);" class="icon-bx"><i class="fa-solid fa-angle-right"></i></a>

							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="nav-prepared" role="tabpanel" aria-labelledby="nav-prepared-tab">
						<div class="orderin-bx d-flex align-items-center justify-content-between">
							<div>
								<h4>Recibidas</h4>
								<span>June 1, 2020, 08:22 AM</span>
							</div>
							<div class="d-flex align-items-center">
								<h4 class="text-primary mb-0">$202.00</h4>
								<a href="javascript:void(0);" class="icon-bx"><i class="fa-solid fa-angle-right"></i></a>

							</div>
						</div>
						<div class="orderin-bx d-flex align-items-center justify-content-between">
							<div>
								<h4>Recibidas</h4>
								<span>June 1, 2020, 08:22 AM</span>
							</div>
							<div class="d-flex align-items-center">
								<h4 class="text-primary mb-0">$202.00</h4>
								<a href="javascript:void(0);" class="icon-bx"><i class="fa-solid fa-angle-right"></i></a>

							</div>
						</div>
						<div class="orderin-bx d-flex align-items-center justify-content-between">
							<div>
								<h4>Recibidas</h4>
								<span>June 1, 2020, 08:22 AM</span>
							</div>
							<div class="d-flex align-items-center">
								<h4 class="text-primary mb-0">$202.00</h4>
								<a href="javascript:void(0);" class="icon-bx"><i class="fa-solid fa-angle-right"></i></a>

							</div>
						</div>
						<div class="orderin-bx d-flex align-items-center justify-content-between">
							<div>
								<h4>Recibidas</h4>
								<span>June 1, 2020, 08:22 AM</span>
							</div>
							<div class="d-flex align-items-center">
								<h4 class="text-primary mb-0">$202.00</h4>
								<a href="javascript:void(0);" class="icon-bx"><i class="fa-solid fa-angle-right"></i></a>

							</div>
						</div>
						<div class="orderin-bx d-flex align-items-center justify-content-between">
							<div>
								<h4>prepared</h4>
								<span>June 1, 2020, 08:22 AM</span>
							</div>
							<div class="d-flex align-items-center">
								<h4 class="text-primary mb-0">$202.00</h4>
								<a href="javascript:void(0);" class="icon-bx"><i class="fa-solid fa-angle-right"></i></a>

							</div>
						</div>
						<div class="orderin-bx d-flex align-items-center justify-content-between">
							<div>
								<h4>prepared</h4>
								<span>June 1, 2020, 08:22 AM</span>
							</div>
							<div class="d-flex align-items-center">
								<h4 class="text-primary mb-0">$202.00</h4>
								<a href="javascript:void(0);" class="icon-bx"><i class="fa-solid fa-angle-right"></i></a>

							</div>
						</div>

					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-8">
		<div class="card border-0">
			<h4 class="cate-title mb-sm-3 mb-2 mt-xl-0 mt-3">Order Details</h4>
			<div class="card h-auto">
				<div class="card-body">
					<div class="d-flex align-items-center justify-content-between border-bottom flex-wrap">
						<div class="mb-4">
							<h4 class="font-w500">Order #1</h4>
							<span>June 1, 2020, 08:22 AM</span>
						</div>
						<div class="orders-img d-flex mb-4">
							<img src="images/chat-img/orders-img/pic-1.jpg" alt="">
							<div>
								<h6 class="font-w500">Walter Papu</h6>
								<span>Estudiante20230280@cdb.edu.sv</span>
							</div>
						</div>
					</div>
					
					<div class="order-menu style-1 mt-3">
						<h4>Orden Menu</h4>
						<div class="d-flex align-items-center mb-4">
							<img class="me-3" src="images/popular-img/review-img/pic-1.jpg" alt="">
							<div>
								<h4 class="font-w600 text-nowrap mb-0"><a href="javascript:void(0);">Pepperoni Pizza</a></h4>
								<p class="mb-0">x1</p>
							</div>
							<h4 class="text-primary mb-0 ms-auto">+$5.59</h4>
						</div>
						<div class="d-flex align-items-center mb-4">
							<img class="me-3" src="images/popular-img/review-img/pic-2.jpg" alt="">
							<div>
								<h4 class="font-w600 text-nowrap mb-0"><a href="javascript:void(0);">Sopa de pollo</a></h4>
								<p class="mb-0">x1</p>
							</div>
							<h4 class="text-primary mb-0 ms-auto">+$5.59</h4>
						</div>
						<div class="d-flex align-items-center pb-2">
							<img class="me-3" src="images/popular-img/pic-1.jpg" alt="">
							<div>
								<h4 class="font-w600 text-nowrap mb-0"><a href="javascript:void(0);">Pescado</a></h4>
								<p class="mb-0">x1</p>
							</div>
							<h4 class="text-primary mb-0 ms-auto">+$5.59</h4>
						</div>

					</div>
					<hr style="opacity:0.7" />
					<div class="d-flex align-items-center justify-content-between">
						<h4 class="font-w500 mb-0">Total</h4>
						<h4 class="cate-title text-primary">$12.59</h4>
					</div>
				</div>
			</div>
			<div class="text-end">
				<a href="javascript:void(0);" class="btn btn-outline-danger me-sm-4 me-2">Cancelar Orden</a>
				<a href="javascript:void(0);" class="btn btn-primary">Aceptar Orden</a>
			</div>
		</div>
	</div>
</div>